[Unit]
Description=Simple HTTP/2 server with TLS
After=network.target

[Service]
ExecStart=/root/venv/bin/python /app/https2.py
WorkingDirectory=/app
Restart=always
User=root
Group=root

[Install]
WantedBy=multi-user.target
