[Unit]
Description=Simple HTTP/1.1 server
After=network.target

[Service]
ExecStart=/usr/bin/python3 /app/http1.py
WorkingDirectory=/app
Restart=always
User=root
Group=root

[Install]
WantedBy=multi-user.target
