[Unit]
Description=Simple HTTP/2 server
After=network.target

[Service]
ExecStart=/usr/bin/python3 /app/http2.py
WorkingDirectory=/app
Restart=always
User=root
Group=root

[Install]
WantedBy=multi-user.target
