[Unit]
Description=Neoregeorg client service
After=network.target

[Service]
ExecStart=/opt/Neo-reGeorg/venv/bin/python /opt/Neo-reGeorg/neoreg.py -k fakepassword123 -u http://{{ relay }}:8000
User=root
StandardOutput=append:/output/neoregeorg.log
StandardError=append:/output/neoregeorg.log

[Install]
WantedBy=multi-user.target