[Unit]
Description=Simple HTTP/3 server
After=network.target

[Service]
ExecStart=/root/venv/bin/python /app/http3.py
WorkingDirectory=/app
Restart=always
User=root
Group=root

[Install]
WantedBy=multi-user.target
