[Unit]
Description=Neoregeorg tunnel service
After=network.target

[Service]
ExecStart=/opt/Neo-reGeorg/tunnel 8000
Restart=always
Type=simple
User=root
StandardOutput=append:/output/tunnel.log
StandardError=append:/output/tunnel.log

[Install]
WantedBy=multi-user.target