{
    servers {
        protocols h1 h2 h3
    }
    default_sni server.labforensic.de
}

server.labforensic.de:4002 {
    tls /cert/tls/fullchain1.pem /cert/tls/privkey1.pem
    @only_get method GET
    respond @only_get "Hello, HTTPS3!"

    log {
        output file /output/server_https3.log {
            roll false
            append true
        }
    }

    respond "Method Not Allowed" 405
}

68.183.243.119:4002 {
    tls /cert/tls/fullchain1.pem /cert/tls/privkey1.pem
    @only_get method GET
    respond @only_get "Hello, HTTPS3!"

    log {
        output file /output/server_https3.log {
            roll false
        }
    }

    respond "Method Not Allowed" 405
}